/* Landscape and down
===============================*/
@media (max-width: 480px) {
  .navigation {
    padding:10px 20px 10px 20px;
  }

  h1, h2, h3, h4 {
  font-size:30px;
  font-weight: 700;
  margin-bottom:15px;
  line-height:1;
}

  .dropdown {
    text-align:left;
    width:100%;
    left:0;
    top:0px;
    border-radius:0;
  }

  .dropdown > .bit-1 > li {
    display:block;
    list-style:none;
  }

  .banner {
    margin:120px auto;
    margin-bottom:80px;
    padding-bottom:0px;
  }

  .banner > .bit-2 > h1 {
    font-size:40px;
  }

  .banner > .bit-1 > h1 {
    font-size:40px;
  }

  .banner > .bit-2 > p {
    font-size:20px;
  }

  .call-image {
    display:none;
  }

  .call-btn {
    width:100%;
  }

  .sections {
    width:99%;
  }

  .sections > h1 {
    margin-bottom:20px;
    text-align:left;
    padding-left:30px;
  }

  .contact > .bit-2 > form > h1 {
    font-size:30px;
    text-align:center;
  }

  .contact > .bit-2 {
    width:100%;
  }

  .contact > .bit-2 > form > input {
    width:100%;
  }

  .contact > .bit-3 {
    display:none;
  }

  .about {
    width:85%;
  }

  .about > h1 {
    font-size:30px;
  }

  .about > p {
    font-size:20px;
  }

  .about > p:last-of-type {
    padding-bottom:50px;
  }

  .blog {
     width:85%;
  }
}

/* Landscape to Tablet Portrait
===============================*/
@media (min-width: 481px) and (max-width: 800px) {
  .navigation {
    padding:10px 30px 10px 30px;
  }

  .dropdown {
    text-align:left;
    width:100%;
    left:0;
    top:0px;
    border-radius:0;
  }

  .dropdown > .bit-1 > li {
    display:block;
    list-style:none;
  }

  .call-image {
    display:none;
  }

  .sections > .bit-3 {
    width:100%;
  }

  .contact > .bit-2 {
    width:100%;
  }

  .contact > .bit-2 > form > input {
    width:100%;
  }

  .contact > .bit-3 {
    display:none;
  }

  .about {
    width:90%;
  }

  .about > p:last-of-type{
    padding-bottom:50px;
  }

  .blog {
    width:90%;
  }

  .footers {
    padding:145px 0px 145px 0px;
  }
}

/* Landscape Tablet to Desktop
===============================*/
@media (min-width: 801px) and (max-width: 1100px) {
  .dropdown {
    text-align:left;
    width:100%;
    left:0;
    top:0px;
    border-radius:0;
  }

  .dropdown > .bit-1 > li {
    display:inline-block;
    list-style:none;
  }

  .call-image {
    display:none;
  }

  .blog {
    width:80%;
  }
}